{% extends "layout.html" %}

{% block content %}
  <h2>Add a Thread</h2>

  {% if success %}
    <div class="flash">Discussion added successfully</div>
  {% elif success == false %}
    <div class="flash">Discussion error, is the url correct?</div>
  {% endif %}

  {% for message in form.url.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.groupID.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('addDiscussionThread') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.groupID.label }}
    {{ form.groupID }}

    {{ form.title.label }}
    {{ form.title }}

    {{ form.url.label }}
    {{ form.url }}

    {{ form.submit }}
  </form>

{% endblock %}
