{% extends "layout.html" %}

{% block content %}
  <h2>Add a Group</h2>

  {% if success %}
    <div class="flash">Group added successfully</div>
  {% endif %}

  {% for message in form.groupID.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('addGroup') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.groupID.label }}
    {{ form.groupID }}

    {{ form.title.label }}
    {{ form.title }}

    {{ form.submit }}
  </form>

{% endblock %}
