<!DOCTYPE html>
<html>
  <head>
    <title>AutoLinker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

  <header>
    <div class="container">
      <h1 class="logo">AutoLinker</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% if 'email' in session %}
          <li><a href="{{ url_for('profile') }}">Dashboard</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
	  {% else %}
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <br />` 
    <div class="lowerContainer">
      <nav>
        <ul class="lowerMenu">
          {% if 'email' in session %}
          <li><a href="{{ url_for('addGroup') }}">1. Add Group</a></li>
          <li><a href="{{ url_for('addDiscussionThread') }}">2. Add DiscussionThread</a></li>
          <li><a href="{{ url_for('addPitch') }}">3. Add Pitch</a></li>
          <li><a href="{{ url_for('sendPitch') }}">4. Send Pitch</a></li>
          {% else %}
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
    <br />
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
